.hero_main {
  background: url(images/hero.jpeg);
  padding: 50px 60px 10px;
  height: 564px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_header {
  color: #fff;
  font-family: ff-zwo-web-bold;
  font-size: 66px;
  font-weight: 600;
  text-transform: uppercase;
}

.hero_header_sm {
  font-family: ff-zwo-web;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
  max-width: 620px;
}

.hero_header_btn {
  margin-top: 21px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  line-height: 1;
  color: #000;
  border: 1px solid;
  cursor: pointer;
  text-align: center;
  background: none;
}

.hero_header_btn:hover {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    text-decoration: none;
}
